/* Table Styles */

.table-fill
{
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}
 
th
{
  color:#D5DDE5;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:23px;
  font-weight: 100;
  padding:24px;
  text-align:left;
  vertical-align:middle;
}
  
tr
{
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
tr:hover td
{
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
  border-bottom: 1px solid #22262e;
}

tr td
{
  background:#EBEBEB;
}
 
tr:hover td
{
  background:#4E5066;
}

td
{
	background:#FFFFFF;
	padding:20px;
	text-align:left;
	font-size:18px;
	text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
	border-right: 1px solid #C1C3D1;
	border-left: 1px solid #C1C3D1;
	border-bottom: 1px solid #C1C3D1;
}

th.text-left
{
  text-align: left;
}

/* En tête */
header
{
    text-align: center;
    margin-top: 4%;
    margin-bottom: 4%;
}

header div h1
{
    font-size: 80px;
    letter-spacing:8px;
    text-align: center;
    padding-bottom: 0px;
    margin-bottom:-10px;
}

header div p
{
    font-size: 20px;
    font-style:italic;
    margin-top:-3px;
    display: flex;
    justify-content: space-around;
    padding-top: 0px;
    margin-top: 0px;
}    

/* Navigation */
nav
{
    font-size: 16px;
}

nav ul
{
    list-style-type: none;
    display: flex;
    justify-content: space-around;

}

nav li
{
    margin-right: 15px;
}

nav a
{
    font-size: 22px;
    color: #999999;
    text-decoration: none;
}

nav a:hover
{
    color: #262626;
    border-bottom: 3px solid #262626;
}

/*tout le body !*/
input, section
{
    background: #ffffff;
    font-family: Verdana, Arial, sans-serif;
    font-size: 12px;
    color: #262626;

}

/* Profil -> Edition de profil */
.edition_profil
{
    margin-top:6%;
    display: flex;
    flex-direction: column;
    text-align: center;

}

